@font-face {
  font-family: "VeryBerryPro-Regular";
  src: url("../fonts/VeryBerryPro-Regular.otf") format("opentype"); }
@font-face {
  font-family: "NeueCyr-Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.eot") format("eot"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "NeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.eot") format("eot"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "NeueCyr-Light";
  src: url("../fonts/HelveticaNeueCyr-Light.eot") format("eot"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype"); }
@font-face {
  font-family: "NeueCyr-Roman";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot") format("eot"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"); }
#overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  position: fixed;
  z-index: 9;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

section {
  overflow-x: hidden; }

header {
  height: 100vh;
  background: url(../img/bg111.jpg) no-repeat 50% 100%/cover;
  margin: 0 auto; }

.container {
  position: relative; }

.top-line {
  content: "";
  width: 100%;
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0.2rem;
  height: 0.4rem;
  border-top: 0.15rem solid #fff;
  border-bottom: 0.15rem solid #fff;
  background: #24328b;
  -webkit-box-shadow: 0 0 0 0.2rem #e30a17;
          box-shadow: 0 0 0 0.2rem #e30a17; }

.my-cont {
  position: relative; }

.logo-brand {
  position: absolute;
  top: -2px;
  left: 20px; }
  .logo-brand a img {
    max-width: 100%;
    width: 100px; }

.take {
  text-align: left;
  margin: 0;
  margin-top: calc(50vh - 270px);
  margin-bottom: 5px;
  color: #ffffff;
  font-family: "VeryBerryPro-Regular";
  font-size: 88px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0.88px; }
  .take span {
    font-size: 118px; }

.prod-top img {
  max-width: 94%; }

.changes {
  background-color: #ffdb27;
  padding: 5px 0px;
  width: 385px;
  text-align: center;
  width: 430px;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg); }
  .changes span {
    color: #000000;
    font-family: "NeueCyr-Medium";
    font-size: 21px;
    font-weight: 500;
    line-height: 39.98px; }
  .changes label {
    color: #000000;
    font-family: "NeueCyr-Medium";
    font-size: 21px;
    font-weight: 500;
    line-height: 39.98px;
    margin: 0;
    margin-right: 10px;
    cursor: pointer; }

.lab_dashed {
  height: 35px;
  border-bottom: 2px dashed #000; }

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px; }

.checkbox + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer; }

.checkbox + label:before {
  content: "";
  position: absolute;
  top: -21px;
  left: 0;
  width: 56px;
  height: 31px;
  -webkit-box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.11), inset 0 3px 12px rgba(0, 0, 0, 0.35);
          box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.11), inset 0 3px 12px rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 13px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.checkbox + label:after {
  content: "";
  position: absolute;
  top: -18px;
  left: 2px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #ee2d27;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.checkbox:checked + label:after {
  left: 26px; }

.skal {
  position: absolute;
  top: -200px;
  left: -35%; }
  .skal img {
    max-width: 40%; }

.egg {
  position: absolute;
  bottom: -140px;
  left: -30%; }
  .egg img {
    max-width: 50%; }

.apple {
  position: absolute;
  top: -200px;
  right: -65%; }
  .apple img {
    max-width: 50%; }

.venc {
  position: absolute;
  bottom: -200px;
  right: -78%; }
  .venc img {
    max-width: 50%; }

.section2 {
  background: url(../img/fon1.jpg) repeat-y center center/cover;
  padding-bottom: 50px;
  height: auto;
  overflow-y: hidden;
  padding-top: 300px;
  position: relative; }
  .section2 .super5 {
    margin: 0 auto;
    position: absolute;
    max-width: 50%;
    display: block;
    left: 50%;
    top: 0px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center; }
  .section2 .container .videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -100px; }
    .section2 .container .videos .videos-item {
      max-width: 340px;
      width: 90%;
      margin: 10px 0px;
      margin-right: 45px;
      position: relative; }
      .section2 .container .videos .videos-item:nth-child(3) {
        margin-right: 0px; }
      .section2 .container .videos .videos-item:nth-child(5) {
        margin-right: 0px; }
      .section2 .container .videos .videos-item-visible {
        position: relative;
        margin-top: 40px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .section2 .container .videos .videos-item-visible:hover {
          display: block;
          -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
                  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
          -webkit-transform: scale(1.1);
                  transform: scale(1.1);
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
        .section2 .container .videos .videos-item-visible .playbtn {
          position: absolute;
          top: 50%;
          left: 50%;
          cursor: pointer;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          width: 55px;
          height: 72px;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
      .section2 .container .videos .videos-item p {
        color: #ffffff;
        font-family: "NeueCyr-Roman";
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0.44px;
        text-align: center;
        display: block;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        margin: 0px;
        padding: 0px;
        margin-top: 12px; }

.shadows {
  display: block;
  -webkit-box-shadow: 0 28px 37px rgba(14, 3, 0, 0.5);
          box-shadow: 0 28px 37px rgba(14, 3, 0, 0.5); }

.videos-item-hidden {
  overflow: auto;
  position: fixed;
  display: none;
  height: 90vh;
  z-index: 99;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50px);
          transform: translate(-50%, -50px);
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #fff; }
  .videos-item-hidden h4 {
    text-align: left; }
  .videos-item-hidden iframe {
    z-index: 999;
    pointer-events: none; }
  .videos-item-hidden .video {
    min-height: 415px;
    height: 100%; }

.detail {
  margin-top: 20px; }
  .detail img {
    max-width: 100%; }

.third {
  background: url(../img/bg33.png) no-repeat center center/cover; }

.supervipechka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-family: "NeueCyr-Roman";
  font-size: 21px;
  font-weight: 500;
  line-height: 33px;
  padding-top: 70px; }
  .supervipechka .left {
    width: 40%; }
    .supervipechka .left img {
      max-width: 400px; }
  .supervipechka .right {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .supervipechka .right .easygg {
      max-width: 452px;
      max-height: 97px;
      margin-top: 30px; }
    .supervipechka .right img {
      max-width: 349px;
      max-height: 120px;
      margin-top: 45px; }
    .supervipechka .right p {
      color: #ffffff;
      font-family: "NeueCyr-Roman";
      font-size: 21px;
      font-weight: 400;
      line-height: 33px;
      margin-top: 30px; }
    .supervipechka .right .list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 20px; }
      .supervipechka .right .list .list-left ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style-type: none;
        margin-bottom: 3px; }
        .supervipechka .right .list .list-left ul li img {
          margin-top: 0px;
          margin-right: 13px;
          max-width: 30px;
          max-height: 30px; }
      .supervipechka .right .list .list-right ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style-type: none;
        margin-bottom: 3px; }
        .supervipechka .right .list .list-right ul li img {
          margin-top: 0px;
          margin-right: 13px;
          max-width: 30px;
          max-height: 30px; }

@media screen and (max-width: 1200px) {
  .videos-item {
    margin: 10px 10px !important; }

  .supervipechka .left {
    width: 30%; }
    .supervipechka .left img {
      max-width: 100%; }

  .supervipechka .right {
    width: 70%; } }
@media screen and (max-width: 992px) {
  .skal {
    left: -50%; }

  .apple {
    right: -95%; }

  .egg {
    left: -50%; }

  .venc {
    right: -130%; }

  .supervipechka {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .supervipechka .left {
    width: 100%;
    text-align: center; }

  .supervipechka .right {
    width: 100%; } }
@media screen and (max-width: 530px) {
  .supervipechka .right .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .supervipechka .right .list .list-left ul {
    margin-bottom: 0px; }

  .supervipechka .right .easygg {
    width: 100%; }

  .supervipechka .right img {
    width: 100%; }

  .section2 .container .videos .videos-item-visible img {
    width: 100%; }

  .section2 .container .videos {
    margin-top: 0px; } }
@media screen and (max-width: 1200px) {
  .take {
    margin-top: calc(50vh - 200px); } }
@media screen and (max-width: 1000px) {
  .take span {
    font-size: 88px; } }
@media screen and (max-width: 992px) {
  .prod-top img {
    max-width: 90%; }

  .take {
    margin-top: 15%; } }
@media screen and (max-width: 767px) {
  .myrow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    padding-top: 40%; }

  .take {
    margin-top: 0 !important; }

  header {
    background-position: 80% 50%; }

  .take {
    text-align: left;
    margin-top: 11%;
    font-size: 52px;
    margin-bottom: 0; }

  .apple {
    right: -120%; }

  .venc {
    right: -150%; }

  .section2 {
    padding-top: 320px; }
    .section2 .super5 {
      max-width: 100%; }

  .checkbox + label {
    padding: 0 0 0 45px; }

  .lab_dashed {
    height: 23px; }

  .changes {
    height: 40px;
    margin-top: -10px; }
    .changes label {
      line-height: 27px;
      font-size: 14px;
      margin-right: 0; }

  .changes {
    width: 275px; }
    .changes span {
      font-size: 16px; }

  .checkbox + label:before {
    width: 38px;
    height: 17px;
    top: -13px; }

  .checkbox:checked + label:after {
    left: 20px; }

  .checkbox + label:after {
    width: 14px;
    height: 14px;
    top: -11px; } }
@media screen and (max-width: 430px) {
  .checkbox + label {
    padding: 0 0 0 41px; } }
@media screen and (max-width: 490px) {
  .checkbox + label:before {
    width: 40px;
    height: 23px;
    top: -15px; }

  .checkbox + label:after {
    width: 17px;
    height: 17px;
    top: -12px; }

  .checkbox:checked + label:after {
    left: 19px; } }
@media screen and (max-width: 576px) {
  .videos-item-hidden .video {
    min-height: inherit; }

  .apple {
    display: none; }

  .skal {
    display: none; }

  .venc {
    display: none; }

  .egg {
    display: none; }

  .container {
    height: 100%; }

  .videos-item-hidden {
    width: 80%; }

  .product {
    text-align: center; }

  .changes {
    margin: 0 auto;
    margin-bottom: 30px; }

  .take {
    margin-bottom: 0%;
    margin-top: 30%;
    text-align: center;
    display: none;
    /* style */ }

  .prod-top img {
    max-width: 60%; }

  .changes {
    height: auto; }

  .changes span {
    display: none; } }
@media screen and (max-width: 530px) {
  .section2 {
    padding-top: 150px; } }
@media screen and (max-width: 485px) {
  .changes {
    padding: 0; }

  .skal {
    position: absolute;
    top: 50px;
    left: -87%; }

  .apple {
    position: absolute;
    top: 0;
    right: -87%; } }
@media screen and (max-width: 440px) {
  .changes {
    width: 230px; }

  .take {
    margin-bottom: 0%;
    margin-top: 50%;
    font-size: 39px; }
    .take span {
      font-size: 48px; }

  .prod-top img {
    max-width: 100%; } }
@media screen and (max-width: 415px) {
  .section2 {
    padding-top: 100px; } }
@media screen and (max-width: 380px) {
  .take {
    margin-top: 58%; }

  .prod-top img {
    max-width: 76%; } }
@media screen and (max-width: 350px) {
  .take {
    margin-top: 60%; } }
.dis_vis {
  display: block; }

.popup h4 {
  font-family: "NeueCyr-Medium";
  margin-bottom: 15px; }

@media screen and (max-width: 992px) {
  .supervipechka .left img {
    max-width: 400px; } }
@media screen and (max-width: 480px) {
  .supervipechka .left img {
    max-width: 100%; } }
@media screen and (min-width: 2400px) {
  .skal {
    position: absolute;
    top: -250px;
    left: -95%; }
    .skal img {
      max-width: 100%; }

  .egg {
    position: absolute;
    bottom: -240px;
    left: -40%; }
    .egg img {
      max-width: 100%; }

  .apple {
    position: absolute;
    top: -200px;
    right: -65%; }
    .apple img {
      max-width: 100%; }

  .venc {
    position: absolute;
    bottom: -650px;
    right: -78%; }
    .venc img {
      max-width: 100%; } }
@media screen and (max-width: 515px) {
  .prod-top img {
    max-width: 63%; } }
@media screen and (max-width: 475px) {
  .prod-top img {
    max-width: 72%; } }
@media screen and (max-width: 440px) {
  .prod-top img {
    max-width: 82%; } }
@media screen and (max-width: 380px) {
  .myrow {
    padding-top: 65%; }

  .prod-top img {
    max-width: 87%; }

  .changes {
    width: 230px; } }
@media screen and (max-width: 330px) {
  .myrow {
    padding-top: 80%; } }

/*# sourceMappingURL=style.css.map */